---
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.title}}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/blog.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
</head>
<body>
<div class="pure-g-r" id="layout">
    <div class="sidebar pure-u">
        <header class="header">
            <hgroup>
                <h1 class="brand-title">Wouter Danes</h1>
                <h2 class="brand-tagline">About software development and ops</h2>
            </hgroup>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{{ site.baseurl }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://github.com/wouterd">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://twitter.com/wouterdanes">Twitter</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="pure-u-1">
        <div class="content">
            <div class="posts">
                <h1 class="content-subhead">{{ page.date | date_to_string }}</h1>
                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">{{ page.title }}</h2>
                        {% if page.categories.size >= 1 %}
                        <p class="post-meta">
                            Under
                            {% for category in page.categories %}
                                <a class="post-category post-category-{{ category }}" href="#">{{ category }}</a>
                            {% endfor %}
                        </p>
                        {% endif %}
                    </header>

                    <div class="post-description">
                        {{ content }}
                    </div>
                </section>
            </div>

            <footer class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="{{ site.baseurl }}">Home</a></li>
                        <li><a href="http://twitter.com/wouterdanes/">Twitter</a></li>
                        <li><a href="http://github.com/wouterd/">Github</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>

    </body>
</html>
