---
layout: default
---
<div class="posts">
    <h1 class="content-subhead">{{ page.date | date_to_string }}</h1>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ page.title }}</h2>
            {% if page.categories.size >= 1 %}
            <p class="post-meta">
                Under
                {% for category in page.categories %}
                    <a class="post-category post-category-{{ category }}" href="#">{{ category }}</a>
                {% endfor %}
            </p>
            {% endif %}
        </header>

        <div class="post-description">
            <p><i>{{ page.summary }}</i></p>
            {{ content }}
        </div>
    </section>
</div>